#pussy{
    background-color: aqua;
    height: 100px;
    width: 300  px;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px black;
}
#sachinkapussy{
    display: flex;
    align-items: center;
    justify-content: center;
}